<div>
  <div>
    <div>
      <div class="form-control text-center search">
       <span>search:  </span>  <input type="text" [(ngModel)]="search" placeholder="Enter name or phone">
      </div>
      <table class="table table-hover table-bordered text-center">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th> 
            <th scope="col">Phone</th>
            <th scope="col">Edit</th>
            <th scope="col">Remove</th>
          </tr>
          <tr *ngFor="let person of contacts| searchFilter : search; let i=index">
              <th scope="row">
                  {{ i+1 }}
               </th >
           <td>
              {{ person.name }}
           </td>
           <td>
              {{ person.phone }}
           </td>
           <td>
              <i class="fa-edit"></i>
           </td>
           <td>
              <i class="fa-trash"></i>
              
           </td>
          </tr>
        </table>
    </div>
  </div>
</div>